body { background-color: bisque;}

.navigation {padding: 20px 10px;
  background: cyan;
  font-weight: bold;
  font-family:sans-serif;
  padding-top: 20px;
  text-align:left;
    margin: 0;}

.image{  width: 200px;
        float: right;
    object-position: top
          }
table, tr, th, td {
    border: 3px solid;
    border-collapse: collapse;
    padding:5px;
    
    vertical-align:middle;
    padding-right: 50px;
}

th {
    font-weight: 900;
    border: 5px double;  
}


footer {
        background-color: lightgrey;
        padding: 20px;
      }
}